---
import H1 from "src/components/h1.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { PROJECT } from "shared/config";
import { getTotalDuration } from "src/api/users";
import { formatDuration } from "shared/utils/formatDuration";
import Download from "src/components/svg/download.astro";
import AnchorButton from "src/components/anchorButton.astro";
import FeatureCard from "src/components/featureCard.astro";
const totalDuration = await getTotalDuration();
---

<Layout title={`${PROJECT.TITLE}`} description={PROJECT.DESCRIPTION}>
  <section class="flex flex-col items-center w-full max-w-5xl px-4">
    <H1 title={`Bienvenue sur ${PROJECT.TITLE}`} />

    <!-- Accroche -->
    <p class="mt-4 text-lg md:text-xl text-base-content/70">
      Dans un monde hyperconnecté, {PROJECT.TITLE} vous aide à
      <span class="font-semibold text-accent">
        mieux apréhender votre temps hors connexion
      </span>
      en comptant précisément vos pauses <span class="font-semibold text-accent"
        >loin du téléphone et d’internet</span
      >.
    </p>
    <div class="my-4 chat chat-start">
      <div class="chat-bubble">
        Les utilisateur de {PROJECT.TITLE} ont, en totalité, passé <span
          class="text-accent">{formatDuration(totalDuration)}</span
        > hors ligne !
      </div>
    </div>
    <p class="mt-2 text-lg md:text-xl text-base-content/70">
      Inspirée par les recommandations de la communauté scientifique,
      l’application vous accompagne pour une <span
        class="font-semibold text-accent"
        >relation plus saine avec le numérique</span
      >
      et des respirations indispensables pour votre bien‑être.
    </p>

    <!-- CTA -->
    <div
      class="mt-8 flex flex-col sm:flex-row items-center justify-center gap-3"
    >
      <a
        href="/"
        class="btn bg-primary text-dark btn-lg rounded-full gap-2 hover:bg-accent"
      >
        <Download />
        Télécharger {PROJECT.TITLE}
      </a>
      <AnchorButton url="/ranking" label="Les meilleurs offliners" />
      <AnchorButton url="/goals" label="Les objectifs à atteindre" />
    </div>

    <!-- Cartes fonctionnalités -->
    <div class="py-10 w-full flex flex-wrap justify-center gap-2">
      <FeatureCard
        badge="Auto"
        title="Suivi hors ligne"
        content="Détecte et comptabilise automatiquement vos périodes déconnectées."
      />
      <FeatureCard
        badge="Clarté"
        title="Statistiques limpides"
        content="Visualisez vos pauses quotidiennes et hebdomadaires."
      />
      <FeatureCard
        badge="Soutien"
        title="Encouragements personnalisés"
        content="Restez motivé grâce à des objectifs progressifs à atteindre."
      />
    </div>
  </section>
</Layout>
