---
import H1 from "src/components/h1.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { PROJECT } from "shared/config";
import Download from "src/components/svg/download.astro";
import FeatureCard from "src/components/featureCard.astro";
import RankingIcon from "src/components/svg/rankingIcon.astro";
import GoalIcon from "src/components/svg/goalIcon.astro";
---

<Layout title={`${PROJECT.TITLE}`} description={PROJECT.DESCRIPTION}>
  <section class="flex flex-col items-center w-full max-w-5xl px-4 gap-4">
    <H1 title={PROJECT.DESCRIPTION} />
    <!-- Accroche -->
    <p class="mt-4 text-lg md:text-xl text-base-content/70">
      Dans un monde hyperconnecté, {PROJECT.TITLE} vous aide à
      <span class="font-semibold text-accent">
        mieux apréhender votre temps hors connexion
      </span>
      en comptant précisément vos pauses <span class="font-semibold text-accent"
        >loin du téléphone et d’internet</span
      >.
    </p>
    <p class="mt-2 text-lg md:text-xl text-base-content/70">
      Inspirée par les <a
        href="https://academic.oup.com/pnasnexus/article/4/2/pgaf017/8016017"
        target="_blank"
        class="text-secondary">recommandations de la communauté scientifique</a
      >, l’application vous accompagne pour une <span
        class="font-semibold text-accent"
        >relation plus saine avec le numérique</span
      >
      et des respirations indispensables pour votre bien‑être.
    </p>

    <!-- CTA -->
    <div
      class="mt-8 flex flex-col sm:flex-row items-center justify-center gap-3"
    >
      <a
        href={PROJECT.DOWNLOAD_URL}
        class="btn bg-primary text-dark btn-lg rounded-full gap-2 hover:bg-primary/80"
      >
        <Download />
        Télécharger {PROJECT.TITLE}
      </a>
      <a
        href="/ranking"
        class="btn text-secondary btn-lg rounded-full hover:text-secondary/80"
        ><RankingIcon /> Les meilleurs offliners</a
      >
      <a
        href="/goals"
        class="btn text-secondary btn-lg rounded-full hover:text-secondary/80"
        ><GoalIcon /> Les objectifs à atteindre</a
      >
    </div>

    <!-- Cartes fonctionnalités -->
    <div class="py-10 w-full flex flex-wrap justify-center gap-2">
      <FeatureCard
        badge="Auto"
        title="Suivi hors ligne"
        content="Détecte et comptabilise automatiquement vos périodes déconnectées."
      />
      <FeatureCard
        badge="Clarté"
        title="Statistiques limpides"
        content="Visualisez vos pauses quotidiennes et hebdomadaires."
      />
      <FeatureCard
        badge="Soutien"
        title="Encouragements personnalisés"
        content="Restez motivé grâce à des objectifs progressifs à atteindre."
      />
    </div>
  </section>
</Layout>
